@import "../node_modules/tinper-bee-core/scss/minxin-variables";
@import "../node_modules/tinper-bee-core/scss/minxin-mixins";


/*公共属性*/
.cls {
  box-sizing: border-box;
  position: relative;
  overflow: hidden;
  zoom: 1;
  color: $tabs-cls-color;
  width: $tabs-cls-width;
  background: $tabs-basic-back;
}

.simple-tabs-content {
  .bee-content-list {
    height: $tabs-simple-conHeight;
    background: #fff;
    padding: $tabs-simple-conPad;
    .bee-content {
      width: $tabs-simple-conWidth;
      display: inline-block;
      float: left;
      display: none;
      &-active {
        display: block;
      }
    }
  }
}

/*基础tab1*/
.simple-tabs-nav {
  .bee-tabs-nav {
    overflow: hidden;
    font-size: map_get($tabs-fontSize, simple);
    line-height: map_get($tabs-lineHeight, simple);
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    margin-bottom: $tabs-marginBottom;
    z-index: 1;
    .bee-tabs-tab {
      margin: map_get($tabs-simple-tab, margin);
      border: $tabs-simple-tabBorder;
      border-radius: map_get($tabs-simple-tab, radius);
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      background: map_get($tabs-simple-tab, back);
      color: #666;
      // margin-right: 2px;
      padding: map_get($tabs-simple-tab, padding);
      text-align: center;
      float: left;
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        color: $brand-primary;
      }
    }
    .bee-tabs-tab-active {
      border: $tabs-simple-activeBorder;
      background: $brand-primary;
      color: $tabs-simple-activeColor;
      border-bottom: $tabs-simple-activeBorBottom;
      &:hover {
        color: #fff;
      }
    }
  }
}

/*基础tab2*/
.fill-tabs-nav {
  .bee-tabs-nav {
    overflow: hidden;
    font-size: map_get($tabs-fontSize, fill);
    line-height: map_get($tabs-lineHeight, fill);
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    margin-bottom: $tabs-marginBottom;
    z-index: 1;
    background: map_get($tabs-fill-tab, back);
    .bee-tabs-tab {
      margin-right: $tabs-fill-tab-maright;
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      text-align: center;
      padding: map_get($tabs-fill-tab, padding);
      color: map_get($tabs-fill-tab, color);
      transition: color 0.3s;
      &:hover {
        color: $brand-primary;
      }
      &::after {
        position: absolute;
        top: $tabs-fill-after-top;
        left: $tabs-fill-after-left;
        z-index: -1;
        width: $tabs-fill-after-width;
        height: $tabs-fill-after-height;
        background: map_get($tabs-fill-tab, afterBack);
        content: '';
        -webkit-transition: background-color 0.3s, transform 0.4s;
        transition: background-color 0.3s, transform 0.4s;
        -webkit-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
        transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
        -webkit-transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
        transform: translate3d(0, 100%, 0) translate3d(0, -3px, 0);
      }
      &:hover::after, &:focus::after, &.bee-tabs-tab-active::after {
        background: $brand-primary;
      }
      &.bee-tabs-tab-active::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
        border-top-left-radius: $tabs-simple-activeTopRadius;
        border-top-right-radius: $tabs-simple-activeTopRadius;
      }
      &-active {
        color: #fff;
        &:hover {
          color: #fff;
        }
      }
    }
  }
  .bee-content-list {
    border: none;
  }
}

/*基础tab3*/
.turn-tabs-nav {
  .bee-tabs-nav {
    overflow: hidden;
    font-size: map_get($tabs-fontSize, turn);
    line-height: map_get($tabs-lineHeight, turn);
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    margin-bottom: $tabs-marginBottom;
    z-index: 1;
    background: map_get($tabs-turn-tab, back);
    .bee-tabs-tab:first-child {
      margin-left: 5px;
    }
    .bee-tabs-tab {
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      padding: map_get($tabs-turn-tab, padding);
      color: map_get($tabs-turn-tab, color);
      transition: color 0.3s;
      &::before {
        content: '';
        position: absolute;
        top: $tabs-turn-after-top;
        left: $tabs-turn-after-left;
        z-index: -1;
        width: $tabs-turn-after-width;
        height: $tabs-turn-after-height;
        border-bottom: $tabs-turn-beforeBot $brand-primary solid;
        border-right: transparent $tabs-turn-beforeRight solid;
        border-left: none;
        z-index: -1;
      }
      &::after {
        position: absolute;
        top: $tabs-turn-after-top;
        left: $tabs-turn-after-left;
        z-index: -1;
        width: $tabs-turn-after-width;
        height: $tabs-turn-after-height;
        background-color: map_get($tabs-turn-tab, afterBack);
        content: '';
        -webkit-transition: -webkit-transform 0.3s, background-color 0.3s;
        transition: transform 0.3s, background-color 0.3s;
        -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
        transform: perspective(900px) rotate3d(1, 0, 0, 90deg);
        -webkit-transform-origin: 50% 100%;
        transform-origin: 50% 100%;
        -webkit-perspective-origin: 50% 100%;
        perspective-origin: 50% 100%;
        border-bottom: $tabs-turn-beforeBot #fff solid;
        border-right: $tabs-basic-back $tabs-turn-beforeRight solid;
        border-left: none;
      }
      &-active {
        color: $brand-primary;
        margin-top: $tabs-fill-tab-maright;
        &::after {
          -webkit-transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
          transform: perspective(900px) rotate3d(1, 0, 0, 0deg);
        }
      }
    }
  }
}

.moveleft-tabs-content {
  .bee-content-list {
    border: $tabs-fill-tab-maright solid $tabs-basic-back;
    border-top: none;
    height: $tabs-moveleft-conHeight;
    padding: $tabs-moveleft-conPad;
    background: #fff;
    position: relative;
    .bee-content {
      display: inline-block;
      transform: translateX(-100%);
      opacity: 0;
      position: absolute;
      transition: all .3s ease-in-out;
    }
    .bee-content-active {
      transform: translateX(0);
      transition-delay: .3s;
      opacity: 1;
    }
  }
}

/*基础tab4 */
.fade-tabs-nav {
  .bee-tabs-nav {
    overflow: hidden;
    font-size: map_get($tabs-fontSize, fade);
    line-height: map_get($tabs-lineHeight, fade);
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    margin-bottom: $tabs-marginBottom;
    z-index: 1;
    margin-left: map_get($tabs-fade-tab, marLeft);
    .bee-tabs-tab {
      margin-top: map_get($tabs-fade-tab, marTop);
      border-radius: map_get($tabs-fade-tab, radius);
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      color: map_get($tabs-fade-tab, color);
      padding: map_get($tabs-fade-tab, padding);
      text-align: center;
      float: left;
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        color: $brand-primary;
      }
    }
    .bee-tabs-tab-active {
      background: #fff;
      color: map_get($tabs-fade-tab, color);
      &:hover {
        color: $brand-primary;
      }
    }
  }
  .bee-content-list {
    border: $tabs-fade-conBor solid $tabs-basic-back;
    border-top: none;
    height: $tabs-simple-conHeight;
    background: #fff;
    padding: $tabs-fade-conPad;
    position: relative;
    .bee-content {
      display: inline-block;
      float: left;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      position: absolute;
      &-active {
        opacity: 1;
      }
    }
  }
}

/*基础tab5 */
.fadeup-tabs-nav {
  .bee-tabs-nav {
    overflow: hidden;
    font-size: map_get($tabs-fontSize, fadeup);
    line-height: map_get($tabs-lineHeight, fadeup);
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    margin-bottom: $tabs-marginBottom;
    z-index: 1;
    .bee-tabs-tab {
      margin-top: map_get($tabs-fadeup-tab, marTop);
      border-radius: map_get($tabs-fadeup-tab, radius);
      transition: all 0.3s cubic-bezier(0.645, 0.045, 0.355, 1);
      color: map_get($tabs-fadeup-tab, color);
      padding: map_get($tabs-fadeup-tab, padding);
      text-align: center;
      float: left;
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      text-decoration: none;
      &:hover {
        color: $brand-primary;
      }
      &::after {
        position: absolute;
        top: $tabs-fadeup-top;
        left: $tabs-fadeup-left;
        z-index: -1;
        width: $tabs-fadeup-width;
        height: $tabs-fadeup-height;
        content: '';
        -webkit-transition: background-color 0.3s, -webkit-transform 0.3s;
        transition: background-color 0.3s, transform 0.3s;
        -webkit-transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
        transition-timing-function: ease, cubic-bezier(0.7, 0, 0.3, 1);
        -webkit-transform: translate3d(0, 100%, 0) translate3d(0, 6px, 0);
        transform: translate3d(0, 100%, 0) translate3d(0, 6px, 0);
      }
      &:hover::after, &:focus::after, &.bee-tabs-tab-active::after {
        background: $brand-primary;
      }
      &.bee-tabs-tab-active::after {
        -webkit-transform: translate3d(0, 0, 0);
        transform: translate3d(0, 0, 0);
      }
      &-active {
        color: #fff;

      }
    }
    .bee-tabs-tab-active {
      background: #fff;
      color: $tabs-fadeup-color;
      &:hover {
        color: $tabs-fadeup-color;
      }
    }
  }
  .bee-content-list {
    height: $tabs-fadeup-conHeight;
    background: #fff;
    padding: $tabs-fadeup-conPad;
    position: relative;
    .bee-content {
      display: inline-block;
      float: left;
      opacity: 0;
      transition: opacity 1s ease-in-out;
      position: absolute;
      &-active {
        opacity: 1;
      }
    }
  }
}

/*基础tab6*/
.slide-tabs-nav {
  .bee-tabs-nav {
    overflow: hidden;
    font-size: map_get($tabs-fontSize, slide);
    line-height: map_get($tabs-lineHeight, slide);
    box-sizing: border-box;
    position: relative;
    white-space: nowrap;
    margin-bottom: $tabs-marginBottom;
    z-index: 1;
    background: map_get($tabs-slide-tabs, back);
    .bee-tabs-tab {
      display: inline-block;
      box-sizing: border-box;
      position: relative;
      cursor: pointer;
      text-align: center;
      padding: map_get($tabs-slide-tabs, padding);
      &-child {
        position: absolute;
        bottom: $tabs-slide-child-bottom;
        left: $tabs-slide-child-left;
        height: $tabs-slide-child-height;
        background: $brand-primary;
        content: '';
        -webkit-transition: -webkit-transform 0.3s;
        transition: transform 0.3s;
      }
    }
  }
}
